/* app css stylesheet */

a {
  cursor: pointer;
}

.cursor_pointer {
  cursor: pointer;
}

.content_container {
  padding-top:70px;
}

.split_in_half_left {
  float:left;
  width:49%;	
}
.split_in_half_right { 
  padding-right:5px;
  float:right;
  width:50%;	
}
.align_right {
  right:0px;
}
.border_line {
  padding-top:15px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid;
  border-color: #C0C0C0;
  border-radius: 5px;

}

.top_space {
  margin-top: 20px;
}

.align_center {
  text-align: center;
}

