<legend ng-if="selectedCompany"translate>Change Company({{ selectedCompany }})</legend>
<legend ng-if="!selectedCompany"translate>Change Company(No company)</legend>


<div ng-if="" class="top_space alert alert-dismissable alert-danger">
  <strong translate>You don't have any company to work for or you haven't been approved by company leader yet!</strong>
</div>


<div >

  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th translate>Company Name</th>
      </tr>
    </thead>
    <tbody>
      <tr class="cursor_pointer" ng-repeat="company in companies" ng-click="select(company.id, company.company)">
        <td >{{company.company}}</td>
      </tr>
    </tbody>
  </table> 

</div>