<legend translate>Companies</legend>
<a href="#/companyregister" class="btn btn-primary btn-lg btn-block" translate>Create New Company</a>


<div ng-show="totalPages>0">
<ul class="pager">
  <li class="previous" ><a ng-click="previous()" translate>← Previous</a></li>
  <li class="">{{ currentPage }}/{{totalPages}}</li>
  <li class="next"><a ng-click="next()" translate>Next →</a></li>
</ul>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th class="cursor_pointer" ng-click="order('name')" translate>Company name</th>
      <th class="cursor_pointer" ng-click="order('address')" translate>Company address</th>
      <th class="cursor_pointer" ng-click="order('workArea')" translate>Company work area</th>
      <th ng-show="userRole == 'editor' || userRole == 'admin'" class="cursor_pointer" ng-click="order('is_confirmed')" translate>Company is accepted</th>
    </tr>
  </thead>
  <tbody>
    <tr class="cursor_pointer" ng-repeat="company in companies" ng-click="details(company.id)">
      <td>{{company.name}}</td>
      <td>{{company.address}}</td>
      <td>{{company.workArea}}</td>
      <td ng-show="userRole == 'editor' || userRole == 'admin'"><input type="checkbox" ng-model="company.is_confirmed" disabled=""></input></td>
    </tr>
  </tbody>
</table> 
<ul class="pager">
  <li class="previous" ><a ng-click="previous()" translate>← Previous</a></li>
  <li class="">{{ currentPage }}/{{totalPages}}</li>
  <li class="next"><a ng-click="next()" translate>Next →</a></li>
</ul>
</div>

<div ng-show="totalPages==0">
<div class="top_space alert alert-dismissable alert-danger">
  <strong translate>No results on filtering!</strong>
</div>
</div>

<div class="border_line tab-content tab-pane fade active in">
  <form class="form-horizontal" name="fcompanyregister" novalidate>
    <fieldset>
      <div class="split_in_half_left">
    
      <div class="form-group">
        <label for="inputCompanyName" class="col-lg-2 control-label" translate>Name</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputCompanyName" name="uCompanyName" placeholder="{{'Company name'|translate}}" ng-model="filters.name" >
        </div>
      </div>
      <div class="form-group">
        <label for="inputCompanyAddress" class="col-lg-2 control-label" translate>Address</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputCompanyAddress" name="uCompanyAddress" placeholder="{{'Company Address'|translate}}" ng-model="filters.address" required>
        </div>
      </div>
    </div>
    <div class="split_in_half_right">
      <div class="form-group">
        <label for="inputCompanyWorkArea" class="col-lg-2 control-label" translate>Work Area</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputCompanyWorkArea" name="uCompanyWorkArea" placeholder="{{'Company Work Area'|translate}}" ng-model="filters.workArea">
        </div>
      </div>
    </div>
    
  </fieldset>
  </form>
</div>


      <!--<button class="btn btn-default">Cancel</button>-->
<button class="btn btn-primary btn-lg btn-block" ng-click="refresh()" translate>Filter</button>
