<legend>{{company.name}}</legend>

<label class="col-lg-2 control-label" translate>Address</label>
<div class="col-lg-10"><p>{{company.address}}</p></div>

<div ng-show="company.workArea != ''">
	<label class="col-lg-2 control-label" translate>Work Area</label>
	<div class="col-lg-10"><p>{{company.workArea}}</p></div>
</div>

<label class="col-lg-2 control-label" translate>Leader</label>
<div class="col-lg-10"><p>{{company.companyCreator}}</p></div>

<label class="col-lg-2 control-label" translate>Ratings</label>
<div class="col-lg-10"><p><rating ng-model="rateShow" max="max" readonly="isReadonly"></rating>({{rateNum}})</p></div>

<label class="col-lg-2 control-label" translate>Jobs done</label>
<div class="col-lg-10"><p>{{company.inquiryJobsNumber}}</p></div>

<div ng-show="company.description != ''">
	<label class="col-lg-2 control-label" translate>Description</label>
	<div class="col-lg-10"><p>{{company.description}}</p></div>
</div>

<button ng-show="selectedCompany == company.name && can_change_company_properties" class="btn btn-primary btn-lg btn-block" ng-click="modify()" translate>Modify settings</button>

<table ng-show="selectedCompany == company.name && can_grant_company_privileges" class="table table-striped table-hover ">
  <thead>
    <tr>
      <th translate>User</th>
      <th translate>Can accept inquiry</th>
      <th translate>Can apply inquiry</th>
      <th translate>Can post inquiry</th>
      <th translate>Can change company properties</th>
      <th translate>Can grant company privileges</th>
      <th translate>Is confirmed</th>
      <th translate>Submit changes</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="privilege in privileges">
      <td >{{privilege.user}}</td>
      <td class="align_center">
        <input type="checkbox" ng-model="privilege.can_accept_inquiry"></input>
      </td>
      <td class="align_center">
        <input type="checkbox" ng-model="privilege.can_apply_inquiry"></input>
      </td>
      <td class="align_center">
        <input type="checkbox" ng-model="privilege.can_post_inquiry"></input>
      </td>
      <td class="align_center">
        <input type="checkbox" ng-model="privilege.can_change_company_properties"></input>
      </td>
      <td class="align_center">
        <input type="checkbox" ng-model="privilege.can_grant_company_privileges"></input>
      </td>
      <td class="align_center">
        <input type="checkbox" ng-model="privilege.is_confirmed"></input>
      </td>
      <td class="align_center">
        <button class="btn btn-primary btn-xs" ng-click="modifyPrivileges(privilege)" translate>Submit</button>
      </td>
    </tr>
  </tbody>
</table> 

<button ng-show="is_in_company" class="btn btn-primary btn-lg btn-block" ng-click="join()" translate>I work here</button>

<!--<button ng-show="company_is_confirmed" class="btn btn-primary btn-lg btn-block" ng-click="approve()" translate>Approve company</button>-->
<button ng-show="!company_is_confirmed && (userRole=='admin' || userRole=='editor') && see_approve" class="btn btn-primary btn-lg btn-block" ng-click="approve()" translate>Approve company</button>

<div ng-show="result === 'workHereOK'" class="top_space alert alert-dismissable alert-success" translate>
  Your request has been submited! Now wait for your company leader to approve you.
</div>
<div ng-show="result === 'approveOK'" class="top_space alert alert-dismissable alert-success" translate>
  Your have changed <strong>{{ changedUser }}</strong>'s privileges!
</div>
<div ng-show="result === 'companyApproveOK'" class="top_space alert alert-dismissable alert-success" translate>
  Your have approved the company!
</div>
<div ng-show="result === 'workHereNOK'" class="top_space alert alert-dismissable alert-danger" translate>
  Your request hasn't been submited!
</div>
<div ng-show="result === 'approveNOK'" class="top_space alert alert-dismissable alert-danger" translate>
  Your haven't changed <strong>{{ changedUser }}</strong>'s privileges!!
</div>
<div ng-show="result === 'companyApproveNOK'" class="top_space alert alert-dismissable alert-danger" translate>
  Your approvement failed!
</div>

<div ng-show="inquiries.length > 0 && company.name == selectedCompany">
<legend translate>Inquiries</legend>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th class="cursor_pointer" translate>Inquiry name</th>
    </tr>
  </thead>
  <tbody>
    <tr class="cursor_pointer" ng-repeat="inquiry in inquiries" ng-click="toInquiry(inquiry.id)">
      <td>{{inquiry.name}}</td>
    </tr>
  </tbody>
</table> 
</div>

<div ng-show="offers.length > 0 && company.name == selectedCompany">
<legend translate>Offers</legend>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th class="cursor_pointer" ng-click="order('name')" translate>Inquiry name</th>
    </tr>
  </thead>
  <tbody>
    <tr class="cursor_pointer" ng-repeat="offer in offers" ng-click="details(offer)">
      <td>{{offer.inquiry}}</td>
    </tr>
  </tbody>
</table> 
</div>