<div id="myTabContent" class="tab-content tab-pane fade active in">
<form class="form-horizontal" name="fcompanyregister" novalidate>
  <fieldset>
    <legend translate>Modify Company</legend>
    <div class="form-group">
      <label for="inputCompanyName" class="col-lg-2 control-label" translate>Company name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputCompanyName" name="uCompanyName" placeholder="{{'Company name'|translate}}" ng-model="company.name" required>
        <div ng-show="fcompanyregister.uCompanyName.$dirty && fcompanyregister.uCompanyName.$invalid">
          <div ng-show="fcompanyregister.uCompanyName.$error.required">
            <span  class="label label-danger" translate>Please enter Company Name!</span><br />
          </div>
          <!--<div ng-show="fcompanyregister.uUsername.$error.uniqueusername">
            <span  class="label label-danger" translate>This username already exists!</span><br />
          </div>-->
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputCompanyAddress" class="col-lg-2 control-label" translate>Company Address</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputCompanyAddress" name="uCompanyAddress" placeholder="{{'Company Address'|translate}}" ng-model="company.address" required>
        <div ng-show="fcompanyregister.uCompanyAddress.$dirty && fcompanyregister.uCompanyAddress.$invalid">
          <div ng-show="fcompanyregister.uCompanyAddress.$error.required">
            <span  class="label label-danger" translate>Please enter your Company Address!</span><br />
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputCompanyDescription" class="col-lg-2 control-label" translate>Company Description</label>
      <div class="col-lg-10">
        <textarea rows="20" class="form-control" id="inputCompanyDescription" name="uCompanyDescription" placeholder="{{'Company Description'|translate}}" ng-model="company.description"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="inputCompanyWorkArea" class="col-lg-2 control-label" translate>Company Work Area</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputCompanyWorkArea" name="uCompanyWorkArea" placeholder="{{'Company Work Area'|translate}}" ng-model="company.workArea">
      </div>
    </div>
    <div class="form-group">
      <label for="inputCompanyCreator" class="col-lg-2 control-label" translate>Company Leader</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputCompanyCreator" name="uCompanyCreator" placeholder="{{'Company Leader'|translate}}" ng-model="company.companyCreator">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <!--<button class="btn btn-default">Cancel</button>-->
        <button class="btn btn-primary" ng-click="modify(company)" ng-disabled="fcompanyregister.$invalid || isUnchanged(company)" translate>Modify Company</button>
      </div>
    </div>
    <div ng-show="result === 'success'" class="alert alert-dismissable alert-success" translate>
      Company modification successful!
    </div>
    <div ng-show="result === 'failure'" class="alert alert-dismissable alert-danger" translate>
      Company modification failed!
    </div>
  </fieldset>
</form>
</div>