<legend translate>Contract between {{offer_company.name}} and {{inquiry_company.name}} (Inquiry: {{inquiry.name}}) <span ng-show="!offer.is_offerer_confirmed && offer.is_inquirier_confirmed">[CONFIRMED BY INQUIRIER]</span><span ng-show="offer.is_offerer_confirmed && !offer.is_inquirier_confirmed">[CONFIRMED BY OFFERER]</span><span ng-show="offer.is_offerer_confirmed && offer.is_inquirier_confirmed">[CONFIRMED]</span></legend>

<label class="col-lg-2 control-label" translate>Description</label>
<div class="col-lg-10"><p>{{offer.description}}</p></div>

<div ng-show="can_accept_inquiry && ((selectedCompany == offer_company.name && !offer.offerer_has_rated) || (selectedCompany == inquiry_company.name && !offer.inquirier_has_rated)) && offer.is_offerer_confirmed && offer.is_inquirier_confirmed">
<label class="col-lg-2 control-label" translate>Rate Partner</label>
<div class="col-lg-10"><p><rating ng-model="rateShow" max="10" readonly="false"></rating>({{rateShow}}/10)</p></div>
<button ng-show="can_accept_inquiry" class="btn btn-primary btn-lg btn-block" ng-click="rate()" translate>Rate</button>
</div>

<button ng-show="can_apply_inquiry && ((selectedCompany == offer_company.name && !offer.is_offerer_confirmed) || (selectedCompany == inquiry_company.name && !offer.is_inquirier_confirmed))" class="btn btn-primary btn-lg btn-block" ng-click="modify()" translate>Modify offer</button>

<button ng-show="can_accept_inquiry && ((selectedCompany == offer_company.name && !offer.is_offerer_confirmed) || (selectedCompany == inquiry_company.name && !offer.is_inquirier_confirmed))" class="btn btn-primary btn-lg btn-block" ng-click="finalSubmit()" ng-disabled="fofferdescription.$invalid || isUnchanged(company)" translate>Final contract submit</button>

<br />
<br />
<div ng-show="result === 'success'" class="alert alert-dismissable alert-success" translate>
  Final contract submited!
</div>
<div ng-show="result === 'failure'" class="alert alert-dismissable alert-danger" translate>
  Offer acception failed!
</div>

<legend translate>Offerer: {{offer_company.name}}</legend>

<label class="col-lg-2 control-label" translate>Company name</label>
<div class="col-lg-10"><p>{{offer_company.name}}</p></div>

<label class="col-lg-2 control-label" translate>Company Ratings</label>
<div class="col-lg-10"><p><rating ng-model="offer_rateShow" max="max" readonly="isReadonly"></rating>({{offer_rateNum}})</p></div>

<label class="col-lg-2 control-label" translate>Company done jobs</label>
<div class="col-lg-10"><p>{{offer_company.inquiryJobsNumber}}</p></div>


<legend translate>Inquiry: {{inquiry.name}}</legend>

<label class="col-lg-2 control-label" translate>Time constraints</label>
<div class="col-lg-10"><p>{{inquiry.activeDate}}</p></div>

<div ng-show="inquiry.workArea != ''">
	<label class="col-lg-2 control-label" translate>Inquiry work area</label>
	<div class="col-lg-10"><p>{{inquiry.workArea}}</p></div>
</div>

<div ng-show="inquiry.area != ''">
	<label class="col-lg-2 control-label" translate>Inquiry area</label>
	<div class="col-lg-10"><p>{{inquiry.area}}</p></div>
</div>

<div ng-show="inquiry.details != ''">
	<label class="col-lg-2 control-label" translate>Inquiry details</label>
	<div class="col-lg-10"><p>{{inquiry.details}}</p></div>
</div>


<legend translate>Inquirier: {{inquiry_company.name}}</legend>

<label class="col-lg-2 control-label" translate>Company name</label>
<div class="col-lg-10"><p>{{inquiry_company.name}}</p></div>

<label class="col-lg-2 control-label" translate>Company Ratings</label>
<div class="col-lg-10"><p><rating ng-model="inquiry_rateShow" max="max" readonly="isReadonly"></rating>({{inquiry_rateNum}})</p></div>

<label class="col-lg-2 control-label" translate>Company done jobs</label>
<div class="col-lg-10"><p>{{inquiry_company.inquiryJobsNumber}}</p></div>
