<legend translate>All Inquiries</legend>

<a ng-show="can_post_inquiry" href="#/inquirycreate" class="btn btn-primary btn-lg btn-block" translate>Create New Inquiry</a>

<div ng-show="totalPages>0">
<ul class="pager">
  <li class="previous" ><a ng-click="previous()" translate>← Previous</a></li>
  <li class="">{{ currentPage }}/{{totalPages}}</li>
  <li class="next"><a ng-click="next()" translate>Next →</a></li>
</ul>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th class="cursor_pointer" ng-click="order('name')" translate>Inquiry name</th>
      <th class="cursor_pointer" ng-click="order('company')" translate>Company name</th>
      <th class="cursor_pointer" ng-click="order('workArea')" translate>Work area</th>
      <th class="cursor_pointer" ng-click="order('area')" translate>Area</th>
      <th class="cursor_pointer" ng-click="order('activeDate')" translate>Time constraints</th>
    </tr>
  </thead>
  <tbody>
    <tr class="cursor_pointer" ng-repeat="inquiry in inquiries" ng-click="details(inquiry.id)">
      <td>{{inquiry.name}}</td>
      <td>{{inquiry.company}}</td>
      <td>{{inquiry.workArea}}</td>
      <td>{{inquiry.area}}</td>
      <td>{{inquiry.activeDate}}</td>
    </tr>
  </tbody>
</table> 
<ul class="pager">
  <li class="previous" ><a ng-click="previous()" translate>← Previous</a></li>
  <li class="">{{ currentPage }}/{{totalPages}}</li>
  <li class="next"><a ng-click="next()" translate>Next →</a></li>
</ul>
</div>

<div ng-show="totalPages==0">
<div class="top_space alert alert-dismissable alert-danger">
  <strong translate>No results on filtering!</strong>
</div>
</div>

<div class="border_line tab-content tab-pane fade active in">
  <form class="form-horizontal" name="finquirysearch" novalidate>
    <fieldset>
      <div class="split_in_half_left">
    
      <div class="form-group">
        <label for="inputName" class="col-lg-2 control-label" translate>Inquiry name</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputName" name="uName" placeholder="{{'Inquiry name'|translate}}" ng-model="filters.name" >
        </div>
      </div>
      <div class="form-group">
        <label for="inputCompany" class="col-lg-2 control-label" translate>Company name</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputCompany" name="uCompany" placeholder="{{'Company name'|translate}}" ng-model="filters.company" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputWorkArea" class="col-lg-2 control-label" translate>Work Area</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputWorkArea" name="uWorkArea" placeholder="{{'Work Area'|translate}}" ng-model="filters.workArea">
        </div>
      </div>
    </div>
    <div class="split_in_half_right">
      
      <div class="form-group">
        <label for="inputArea" class="col-lg-2 control-label" translate>Area</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputArea" name="uArea" placeholder="{{'Area'|translate}}" ng-model="filters.area">
        </div>
      </div>
      <div class="form-group">
        <label for="inputActiveDate" class="col-lg-2 control-label" translate>Active date</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputActiveDate" name="uActiveDate" placeholder="{{'Active date'|translate}}" ng-model="filters.activeDate">
        </div>
      </div>
    </div>
    
  </fieldset>
  </form>
</div>


      <!--<button class="btn btn-default">Cancel</button>-->
<button class="btn btn-primary btn-lg btn-block" ng-click="refresh()" translate>Filter</button>
