<legend>{{inquiry.name}}</legend>

<label class="col-lg-2 control-label" translate>Time constrains</label>
<div class="col-lg-10"><p>{{inquiry.activeDate}}</p></div>

<div ng-show="inquiry.workArea != ''">
	<label class="col-lg-2 control-label" translate>Work Area</label>
	<div class="col-lg-10"><p>{{inquiry.workArea}}</p></div>
</div>

<div ng-show="inquiry.details != ''">
	<label class="col-lg-2 control-label" translate>Details</label>
	<div class="col-lg-10"><p>{{inquiry.details}}</p></div>
</div>

<div ng-show="inquiry.area != ''">
  <label class="col-lg-2 control-label" translate>Area</label>
  <div class="col-lg-10"><p>{{inquiry.area}}</p></div>
</div>

<label class="col-lg-2 control-label" translate>Company name</label>
<div class="col-lg-10"><p>{{company.name}}</p></div>

<label class="col-lg-2 control-label" translate>Company Ratings</label>
<div class="col-lg-10"><p><rating ng-model="rateShow" max="max" readonly="isReadonly"></rating>({{rateNum}})</p></div>

<label class="col-lg-2 control-label" translate>Company done jobs</label>
<div class="col-lg-10"><p>{{company.inquiryJobsNumber}}</p></div>

<button ng-show="can_post_inquiry && company.name == selectedCompany && !contract_online" class="btn btn-primary btn-lg btn-block" ng-click="modify()" translate>Modify inquiry</button>

<button ng-show="can_apply_inquiry && company.name != selectedCompany && is_in_offer && company.is_confirmed && !contract_online" class="btn btn-primary btn-lg btn-block" ng-click="sendOffer()" translate>Send offer</button>
<!--<button ng-show="selectedinquiry == inquiry.name && can_change_inquiry_properties" class="btn btn-primary btn-lg btn-block" ng-click="modify()" translate>Modify settings</button>-->
<button ng-show="company.name == selectedCompany && contract_online" class="btn btn-primary btn-lg btn-block" ng-click="toContract()" translate>See contract</button>

<div ng-show="offers.length > 0 && company.name == selectedCompany && !contract_online">
<legend>Offers</legend>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th class="cursor_pointer" ng-click="order('name')" translate>Company name</th>
    </tr>
  </thead>
  <tbody>
    <tr class="cursor_pointer" ng-repeat="offer in offers" ng-click="details(offer.id)">
      <td>{{offer.company}}</td>
    </tr>
  </tbody>
</table> 
</div>