<div id="myTabContent" class="tab-content tab-pane fade active in">
<form class="form-horizontal" name="finquirycreate" novalidate>
  <fieldset>
    <legend translate>Create Inquiry</legend>
    <div class="form-group">
      <label for="inputInquiryName" class="col-lg-2 control-label" translate>Inquiry name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputInquiryName" name="uInquiryName" placeholder="{{'Inquiry name'|translate}}" ng-model="inquiry.name" required>
        <div ng-show="finquirycreate.uInquiryName.$dirty && finquirycreate.uInquiryName.$invalid">
          <div ng-show="finquirycreate.uInquiryName.$error.required">
            <span  class="label label-danger" translate>Please enter Company Name!</span><br />
          </div>
          <!--<div ng-show="finquirycreate.uUsername.$error.uniqueusername">
            <span  class="label label-danger" translate>This username already exists!</span><br />
          </div>-->
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputActiveDate" class="col-lg-2 control-label" translate>Inquiry final date</label>
      <div class="col-lg-10">
        <p class="input-group">
          <input id="inputActiveDate" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="inquiry.activeDate" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
        <div ng-show="finquirycreate.uCompanyAddress.$dirty && finquirycreate.uCompanyAddress.$invalid">
          <div ng-show="finquirycreate.uCompanyAddress.$error.required">
            <span  class="label label-danger" translate>Please enter final inquiry date!</span><br />
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputInquiryWorkArea" class="col-lg-2 control-label" translate>Inquiry Work Area</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputInquiryWorkArea" name="uInquiryWorkArea" placeholder="{{'Inquiry Work Area'|translate}}" ng-model="inquiry.workArea">
      </div>
    </div>
    <div class="form-group">
      <label for="inputInquiryDetails" class="col-lg-2 control-label" translate>Inquiry Details</label>
      <div class="col-lg-10">
        <textarea rows="20" class="form-control" id="inputInquiryDetails" name="uInquiryDetails" placeholder="{{'Inquiry Details'|translate}}" ng-model="inquiry.details"></textarea>
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputInquiryArea" class="col-lg-2 control-label" translate>Inquiry Area</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputInquiryArea" name="uInquiryArea" placeholder="{{'Inquiry Area'|translate}}" ng-model="inquiry.area">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <!--<button class="btn btn-default">Cancel</button>-->
        <button class="btn btn-primary" ng-click="create(inquiry)" ng-disabled="finquirycreate.$invalid || isUnchanged(inquiry)" translate>Create inquiry</button>
      </div>
    </div>
    <div ng-show="result === 'success'" class="alert alert-dismissable alert-success" translate>
      Inquiry submitted successfully!
    </div>
    <div ng-show="result === 'failure'" class="alert alert-dismissable alert-danger" translate>
      Inquiry creation failed!
    </div>
  </fieldset>
</form>
</div>