<legend translate>Offer from {{offer_company.name}} to {{inquiry_company.name}} (Inquiry: {{inquiry.name}})</legend>

<label class="col-lg-2 control-label" translate>Description</label>
<div class="col-lg-10"><p>{{offer.description}}</p></div>

<button ng-show="can_apply_inquiry && selectedCompany == offer_company.name" class="btn btn-primary btn-lg btn-block" ng-click="modify()" translate>Modify offer</button>

<button ng-show="can_accept_inquiry && selectedCompany == inquiry_company.name" class="btn btn-primary btn-lg btn-block" ng-click="acceptOffer(offer)" translate>Accept offer</button>

<div ng-show="result === 'success'" class="alert alert-dismissable alert-success" translate>
  Offer accepted!
</div>
<div ng-show="result === 'failure'" class="alert alert-dismissable alert-danger" translate>
  Offer acception failed!
</div>

<legend translate>Offerer: {{offer_company.name}}</legend>

<label class="col-lg-2 control-label" translate>Company name</label>
<div class="col-lg-10"><p>{{offer_company.name}}</p></div>

<label class="col-lg-2 control-label" translate>Company Ratings</label>
<div class="col-lg-10"><p><rating ng-model="rateShow" max="max" readonly="isReadonly"></rating>({{offer_rateNum}})</p></div>

<label class="col-lg-2 control-label" translate>Company done jobs</label>
<div class="col-lg-10"><p>{{offer_company.inquiryJobsNumber}}</p></div>


<legend translate>Inquiry: {{inquiry.name}}</legend>

<label class="col-lg-2 control-label" translate>Time constraints</label>
<div class="col-lg-10"><p>{{inquiry.activeDate}}</p></div>

<div ng-show="inquiry.workArea != ''">
	<label class="col-lg-2 control-label" translate>Inquiry work area</label>
	<div class="col-lg-10"><p>{{inquiry.workArea}}</p></div>
</div>

<div ng-show="inquiry.area != ''">
	<label class="col-lg-2 control-label" translate>Inquiry area</label>
	<div class="col-lg-10"><p>{{inquiry.area}}</p></div>
</div>

<div ng-show="inquiry.details != ''">
	<label class="col-lg-2 control-label" translate>Inquiry details</label>
	<div class="col-lg-10"><p>{{inquiry.details}}</p></div>
</div>


<legend translate>Inquirier: {{inquiry_company.name}}</legend>

<label class="col-lg-2 control-label" translate>Company name</label>
<div class="col-lg-10"><p>{{inquiry_company.name}}</p></div>

<label class="col-lg-2 control-label" translate>Company Ratings</label>
<div class="col-lg-10"><p><rating ng-model="rateShow" max="max" readonly="isReadonly"></rating>({{inquiry_rateNum}})</p></div>

<label class="col-lg-2 control-label" translate>Company done jobs</label>
<div class="col-lg-10"><p>{{inquiry_company.inquiryJobsNumber}}</p></div>
