<div id="myTabContent" class="tab-content tab-pane fade active in">
<form class="form-horizontal" name="fofferdescription" novalidate>
  <fieldset>
    <legend translate>Create Offer</legend>
    <div class="form-group">
      <label for="inputOfferDescription" class="col-lg-2 control-label" translate>Description</label>
      <div class="col-lg-10">
        <textarea rows="20" class="form-control" id="inputOfferDescription" name="uOfferDescription" placeholder="{{'Offer Description'|translate}}" ng-model="offer.description" required></textarea>
        <div ng-show="fofferdescription.uOfferDescription.$dirty && fofferdescription.uOfferDescription.$invalid">
          <div ng-show="fofferdescription.uOfferDescription.$error.required">
            <span  class="label label-danger" translate>Please enter Offer Description!</span><br />
          </div>
        </div>
      </div>
    </div>
    <div ng-show="result != 'success'" class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <!--<button class="btn btn-default">Cancel</button>-->
        <button class="btn btn-primary btn-lg btn-block" ng-click="create(offer)" ng-disabled="fofferdescription.$invalid || isUnchanged(offer)" translate>Create offer</button>
      </div>
    </div>
    <div ng-show="result === 'success'" class="alert alert-dismissable alert-success" translate>
      Offer created succesfully!
    </div>
    <div ng-show="result === 'failure'" class="alert alert-dismissable alert-danger" translate>
      Offer creation failed!
    </div>
  </fieldset>
</form>
</div>