<p>This is the partial for view 2.</p>

<ul ng-controller="MyCtrl2">
	<li ng-repeat="company in companies">
	  {{company.id}}
	  {{company.created}}
	  {{company.name}}
	  {{company.address}}
	  {{company.workArea}}
	</li>
</ul>

<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
