<form class="form-horizontal" name="fpassword" novalidate>
  <fieldset>
    <legend translate>Change Password</legend>
    <div class="form-group">
      <label for="inputOldPassword" class="col-lg-2 control-label" translate>Old Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputOldPassword" name="uOldPassword" placeholder="{{'Old Password'|translate}}" ng-model="user.current_password" required>
          <div ng-show="fpassword.uOldPassword.$dirty && fpassword.uOldPassword.$invalid"> 
            <div ng-show="fpassword.uOldPassword.$error.required">
              <span  class="label label-danger" translate>Please enter your old password!</span><br />
            </div>
          </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label" translate>New Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" name="uPassword" placeholder="{{'Password'|translate}}" ng-model="user.password1" required>
          <div ng-show="fpassword.uPassword.$dirty && fpassword.uPassword.$invalid"> 
            <div ng-show="fpassword.uPassword.$error.required">
              <span  class="label label-danger" translate>Please enter your password!</span><br />
            </div>
          </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputRepeatPassword" class="col-lg-2 control-label" translate>Repeat New Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputRepeatPassword" name="uRepeatPassword" placeholder="{{'Repeat Password'|translate}}" ng-model="user.password2" match="user.password1" required>
        <div ng-show="fpassword.uRepeatPassword.$dirty && fpassword.uRepeatPassword.$invalid"> 
          <div ng-show="fpassword.uRepeatPassword.$error.match">
            <span  class="label label-danger" translate>Passwords don't match!</span><br />
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <!--<button class="btn btn-default">Cancel</button>-->
        <button class="btn btn-primary" ng-click="update(user)" ng-disabled="fpassword.$invalid || isUnchanged(user)" translate>Change password</button>
      </div>
    </div>
    <div ng-show="result === 'notunique'" class="alert alert-dismissable alert-danger" translate>
      Wrong password!
    </div>
    <div ng-show="result === 'success'" class="alert alert-dismissable alert-success" translate>
      Password changed successfully!
    </div>
  </fieldset>
</form>