<legend>{{user.username}}</legend>

<label class="col-lg-2 control-label" translate>Email</label>
<div class="col-lg-10"><p>{{user.email}}</p></div>

<div ng-show="user.first_name != ''">
	<label class="col-lg-2 control-label" translate>First Name</label>
	<div class="col-lg-10"><p>{{user.first_name}}</p></div>
</div>

<div ng-show="user.last_name != ''">
  <label class="col-lg-2 control-label" translate>Last Name</label>
  <div class="col-lg-10"><p>{{user.last_name}}</p></div>
</div>

<button class="btn btn-primary btn-lg btn-block" ng-click="modify('profile')" translate>Change profile</button>

<button class="btn btn-primary btn-lg btn-block" ng-click="modify('password')" translate>Change password</button>