<form class="form-horizontal" name="fregister" novalidate>
  <fieldset>
    <legend translate>Modify profile</legend>
    <div class="form-group">
      <label for="inputUsername" class="col-lg-2 control-label" translate>Username</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputUsername" name="uUsername" placeholder="{{'Username'|translate}}" ng-model="user.username" required uniqueusername>
        <div ng-show="fregister.uUsername.$dirty && fregister.uUsername.$invalid">
          <div ng-show="fregister.uUsername.$error.required">
            <span  class="label label-danger" translate>Please enter your username!</span><br />
          </div>
          <!--<div ng-show="fregister.uUsername.$error.uniqueusername">
            <span  class="label label-danger" translate>This username already exists!</span><br />
          </div>-->
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label" translate>Email</label>
      <div class="col-lg-10">
        <input type="email" class="form-control" id="inputEmail" name="uEmail" placeholder="{{'Email'|translate}}" ng-model="user.email" required emailtest>
        <div ng-show="fregister.uEmail.$dirty && fregister.uEmail.$invalid">
          <div ng-show="fregister.uEmail.$error.required">
            <span  class="label label-danger" translate>Please enter your email!</span><br />
          </div>
          <div ng-show="fregister.uEmail.$error.emailtest">
            <span  class="label label-danger" translate>Please enter valid email!</span><br />
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputFirstName" class="col-lg-2 control-label" translate>First Name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputFirstName" name="uFirstName" placeholder="{{'First Name'|translate}}" ng-model="user.first_name" personalnames>
        <div ng-show="fregister.uFirstName.$error.personalnames">
          <span  class="label label-danger" translate>Please enter a valid name!</span><br />
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputLastName" class="col-lg-2 control-label" translate>Last Name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputLastName" name="uLastName" placeholder="{{'Last Name'|translate}}" ng-model="user.last_name" personalnames>
        <div ng-show="fregister.uLastName.$error.personalnames">
          <span  class="label label-danger" translate>Please enter a valid name!</span><br />
        </div>
      </div>
    </div>
    <div class="form-group" ng-show="userRole == 'admin'">
      <label class="col-lg-2 control-label">Role</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input type="radio" ng-model="roleRadios" id="regularRadio" value="regular" checked="">
            Regular
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" ng-model="roleRadios" id="editorRadio" value="editor">
            Editor
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" ng-model="roleRadios" id="adminRadio" value="admin">
            Admin
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <!--<button class="btn btn-default">Cancel</button>-->
        <button class="btn btn-primary" ng-click="update(user)" ng-disabled="fregister.$invalid || isUnchanged(user)" translate>Modify</button>
      </div>
    </div>
    <div ng-show="result === 'notunique'" class="alert alert-dismissable alert-danger" translate>
      This username already exists. Choose another one.
    </div>
    <div ng-show="result === 'failure'" class="alert alert-dismissable alert-danger" translate>
      Your modification failed. Your Username might be already taken.
    </div>
    <div ng-show="result === 'success'" class="alert alert-dismissable alert-success" translate>
      User modified successfully!
    </div>
  </fieldset>
</form>