<legend translate>All Profiles</legend>

<div ng-show="totalPages>0">
<ul class="pager">
  <li class="previous" ><a ng-click="previous()" translate>← Previous</a></li>
  <li class="">{{ currentPage }}/{{totalPages}}</li>
  <li class="next"><a ng-click="next()" translate>Next →</a></li>
</ul>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th class="cursor_pointer" ng-click="order('username')" translate>Username</th>
      <th class="cursor_pointer" ng-click="order('email')" translate>Email</th>
      <th class="cursor_pointer" ng-click="order('first_name')" translate>First Name</th>
      <th class="cursor_pointer" ng-click="order('last_name')" translate>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <tr class="cursor_pointer" ng-repeat="user in users" ng-click="details(user.id)">
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
    </tr>
  </tbody>
</table> 
<ul class="pager">
  <li class="previous" ><a ng-click="previous()" translate>← Previous</a></li>
  <li class="">{{ currentPage }}/{{totalPages}}</li>
  <li class="next"><a ng-click="next()" translate>Next →</a></li>
</ul>
</div>

<div ng-show="totalPages==0">
<div class="top_space alert alert-dismissable alert-danger">
  <strong translate>No results on filtering!</strong>
</div>
</div>

<div class="border_line tab-content tab-pane fade active in">
  <form class="form-horizontal" name="fusersearch" novalidate>
    <fieldset>
      <div class="split_in_half_left">
    
      <div class="form-group">
        <label for="inputUsername" class="col-lg-2 control-label" translate>Username</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputUsername" name="uUsername" placeholder="{{'Username'|translate}}" ng-model="filters.username" >
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label" translate>Email</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputEmail" name="uEmail" placeholder="{{'Email'|translate}}" ng-model="filters.email" required>
        </div>
      </div>
    </div>
    <div class="split_in_half_right">
      <div class="form-group">
        <label for="inputFirstName" class="col-lg-2 control-label" translate>First Name</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputFirstName" name="uFirstName" placeholder="{{'First Name'|translate}}" ng-model="filters.first_name">
        </div>
      </div>
      <div class="form-group">
        <label for="inputLastName" class="col-lg-2 control-label" translate>Last Name</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputLastName" name="uLastName" placeholder="{{'Last Name'|translate}}" ng-model="filters.last_name">
        </div>
      </div>
    </div>
    
  </fieldset>
  </form>
</div>


      <!--<button class="btn btn-default">Cancel</button>-->
<button class="btn btn-primary btn-lg btn-block" ng-click="refresh()" translate>Filter</button>
