<form class="form-horizontal" name="fsignin" novalidate>
  <fieldset>
    <legend translate>Sign in</legend>
    <div class="form-group">
      <label for="inputUsername" class="col-lg-2 control-label" translate>Username</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputUsername" name="uUsername" placeholder="{{'Username'|translate}}" ng-model="credentials.username" required uniqueusername>
        <div ng-show="fsignin.uUsername.$dirty && fsignin.uUsername.$invalid">
          <div ng-show="fsignin.uUsername.$error.required">
            <span  class="label label-danger" translate>Please enter your username!</span><br />
          </div>
          <!--<div ng-show="fsignin.uUsername.$error.uniqueusername">
            <span  class="label label-danger" translate>This username already exists!</span><br />
          </div>-->
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label" translate>Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" name="uPassword" placeholder="{{'Password'|translate}}" ng-model="credentials.password" required>
          <div ng-show="fsignin.uPassword.$dirty && fsignin.uPassword.$invalid"> 
            <div ng-show="fsignin.uPassword.$error.required">
              <span  class="label label-danger" translate>Please enter your password!</span><br />
            </div>
          </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <!--<button class="btn btn-default">Cancel</button>-->
        <button class="btn btn-primary" ng-click="login(credentials)" ng-disabled="fsignin.$invalid || isUnchanged(credentials)" translate>Sign in</button>
      </div>
    </div>
    <div ng-show="result === 'nousername'" class="alert alert-dismissable alert-danger" translate>
      This username doesn't exists.
    </div>
    <div ng-show="result === 'wrongpassword'" class="alert alert-dismissable alert-danger" translate>
      You enterd a wrong password.
    </div>
    <div ng-show="result === 'unable'" class="alert alert-dismissable alert-danger" translate>
      Unable to login with provided credentials.
    </div>
  </fieldset>
</form>