<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" >projectX</a>
	  </div>
	  <div class="navbar-collapse collapse navbar-responsive-collapse">
	    <ul class="nav navbar-nav">
	      <!--<li><a ><span translate>About Us</span></a></li>
	      <li><a ><span translate>Contact</span></a></li>-->
	      <li ><a href="#/news"><span translate>News</span></a></li>
	      <li ng-if="currentUser"><a href="#/companies"><span translate>Companies</span></a></li>
	      <li ng-if="currentUser"><a href="#/inquiries"><span translate>Inquiries</span></a></li>
	    </ul>
	    <!--<form class="navbar-form navbar-left">
	      <input type="text" class="form-control col-lg-8" placeholder="Search">
	    </form>-->
	    <ul class="nav navbar-nav navbar-right">
	      <!--<li class="dropdown" ng-controller="LanguageCtrl">
	        <a class="dropdown-toggle" data-toggle="dropdown">{{ lang }} <b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li ng-repeat="lang in languages" ng-click="changeLanguage(lang)"><a >{{lang}}</a></li>
	        </ul>
	      </li>-->

	      <li class="dropdown">
	        <a class="dropdown-toggle" ng-if="currentUser" data-toggle="dropdown">{{ currentUser }}<span ng-if="selectedCompany">({{ selectedCompany }})</span> <b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li><a ng-click="profile()"><span translate>Profile</span></a></li>
	          <li><a ng-if="userRole=='admin'" href="#/profile"><span translate>All Profiles</span></a></li>
	          <li><a href="#/changecompany"><span translate>Change Company</span></a></li>
	          <li class="divider"></li>
	          <li><a ng-click="logout()"><span translate>Log Out</span></a></li>
	        </ul>
	      </li>
	      <li ng-if="!currentUser"><a href="#/register" translate>Sign Up</a></li>
	      <li ng-if="!currentUser"><a href="#/signin" translate>Sign In</a></li>
	      
	    </ul>
	  </div>
  </div>
</nav>